<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Multiclass Density Map Editor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://ieeexplore.ieee.org/abstract/document/8440817/" target="_blank"><fa-icon
                            [icon]="['fas', 'file']"></fa-icon> Paper</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/e-/Multiclass-Density-Maps" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon>
                        Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-2">
    <form>
        <div class="form-group row">
            <label for="data-type" class="col-sm-2 col-form-label">Data Type</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-type" id="data-type-1" value="option1" [checked]="dataType === 1">
                    <label class="form-check-label" for="data-type-1" (click)="dataType=1">
                        Sample Data
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-type" id="data-type-2" value="option2" [checked]="dataType === 2">
                    <label class="form-check-label" for="data-type-2" (click)="dataType=2">
                        From my disk (no upload)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataset" class="col-sm-2 col-form-label">Dataset</label>
            <div class="col-sm-10">
                <app-select [options]="DatasetOptions" [model]="dataset" (selected)="dataset=$event;change()"></app-select>
            </div>
        </div>

        <h5>Rebin</h5>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <app-select [options]="RebinTypeOptions" [model]="rebinType" (selected)="rebinType=$event;change()"></app-select>
            </div>
        </div>
        <div class="form-group row" [hidden]="rebinType == 'none'">
            <label class="col-sm-2 col-form-label">Aggregation</label>
            <div class="col-sm-10">
                <app-select [options]="RebinAggregationOptions" [model]="rebinAggregation" (selected)="rebinAggregation=$event;change()"></app-select>
            </div>
        </div>
        <div class="form-group row" [hidden]="rebinType != 'square'">
            <label for="rebin-size" class="col-sm-2 col-form-label">Size</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="rebinSize" min="2" [(ngModel)]="rebinSize" (change)="change()">
            </div>
        </div>
        <div class="form-group row" [hidden]="rebinType != 'rect'">
            <label for="rebin-width" class="col-sm-2 col-form-label">Width</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="rebinWidth" min="2" [(ngModel)]="rebinWidth" (change)="change()">
            </div>
        </div>
        <div class="form-group row" [hidden]="rebinType != 'rect'">
            <label for="rebin-height" class="col-sm-2 col-form-label">Height</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="rebinHeight" min="2" [(ngModel)]="rebinHeight" (change)="change()">
            </div>
        </div>

        <h5>Rescale</h5>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <app-select [options]="RescaleTypeOptions" [model]="rescaleType" (selected)="rescaleType=$event;change()"></app-select>
            </div>
        </div>
        <div class="form-group row" [hidden]="rescaleType != 'equidepth'">
            <label for="rebin-size" class="col-sm-2 col-form-label">Levels</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="rescaleLevels" min="2" [(ngModel)]="rescaleLevels" (change)="change()">
            </div>
        </div>

        <h5>Compose</h5>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mix</label>
            <div class="col-sm-10">
                <app-select [options]="ComposeMixOptions" [model]="composeMix" (selected)="composeMix=$event;change()"></app-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mixing</label>
            <div class="col-sm-10">
                <app-select [options]="ComposeMixingOptions" [model]="composeMixing" (selected)="composeMixing=$event;change()"></app-select>
            </div>
        </div>
    </form>

    <h4>Specification</h4>
    <pre class="pre-scrollable"><code>{{ spec }}</code></pre>

    <button class="btn btn-primary" (click)="change()">Render</button>

    <div #result></div>

</div>
<pre>
